header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../../assets/gallery/11.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }

.call{
    background-color: rgb(43, 42, 42) ;
    font-family:Cochin;
    color:white;
    text-align: end;
    font-weight: 600;
    padding: 0 30px;
            }

 ul li{
   text-decoration: none;
   display: inline;
   padding-right: 15px;
     }
    
            
.main-text-box {
  padding-top: 50px;
    }

.custom_container{
padding: 10px 30px;

}

.navbar-nav{
float: right;
margin-right: 30px;
}

.logo {
    height: 100px;
    width: 150px;
    float: left;
   margin-left: 80px;
}

// .align-form-right{
//     width: 450px;
//     position: absolute;
//     top: 55%;
//     left: 75%;
//    transform: translate(-50%, -50%);

// }

.text-cover{
max-width: 580px;
}


/* Main navi */

#navi {
    padding-top: 30px;
    padding-right: 20px;
}


.main-nav li {
    display: inline-block;
    margin-left: 5px;
padding: 0;}
   


.main-nav li a:link,
.main-nav li a:visited {
  
    color: #fff;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #9dabee;
}


/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.rowl {
    max-width: 1140px;
    margin: 0 auto;
}


.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ----- LINKS ----- */

a:link,
a:visited {
    color: #97a7f3;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 3px solid #9dabee;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 3px solid transparent;
}

/* ----- BUTTONS ----- */
.btn,
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, .btn-full,
.btn-full:visited,
input[type=submit] {
    background-color: #92a4fc;
    border: 1px solid #92a4fc;
    color: #fff;
    margin-right: 15px;
}



.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #768aec;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #768aec;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #768aec;
    color: #fff;
}







