.Brand_logo{
    height: 80px;
    width: 180px;
}
.navbar-inverse{
    height: 85px;
}
.navbar-brand{
    padding: 0;
    margin-left: 90px;
}

.navbar-right{
  padding-right: 100px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
    color: rgb(248, 239, 239) !important;
}