<header>
    <div class="call ">
      <ul>
        <li>Call  or <span><img class="watsapp_img_resize" src="../../assets/Icon_images/watsapp.png"></span>
           us on:  +91- 987654321</li>
        </ul>
      </div>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top " id="navi" >
          <img src="../../assets/Brand_logo/logo.png" alt="Omnifood logo" class="logo ">
            <ul class=" navbar-nav main-nav hidden-xs ">       
               <li class="nav-item"> <a class="nav-link" href="#features">Home</a></li>
             <li class="nav-item"> <a  class="nav-link" href="#meals">About Us</a></li>
           <li class="nav-item"> <a class="nav-link" href="#works">Locations</a></li>
            <li class="nav-item">  <a class="nav-link" href="#cities">Gallery</a></li>
             <li class="nav-item"> <a  class="nav-link" href="#contact-us">Contact us</a></li>
            </ul>
    </nav>
    <div class="row" >
      <div class="custom_container">
    <div class="main-text-box col-md-6 hidden-xs hidden-sm">
        <h1 style="font-weight: 300 ; color: whitesmoke">Lorem ipsum dolor sit amet.. </h1>
       <h3 class="text-cover" style="color:rgb(209, 209, 209)">“Lorem ipsum dolor sit amet.
        ultricies at nulla. Duis convallis lacinia libero sit amet iaculis. Vestibulum ante 
       ii in faucibus orci luctus et ultricesposuere cubilia </h3>
       <h3 class="text-cover" style="color:rgb(209, 209, 209)">“Lorem ipsum dolor sit amet.
        ultricies at nulla. Dui
       </h3>
            <!-- <a class="btn btn-full " href="#">I'm hungry</a> -->
            </div>
          </div> 
            <div class="col-md-6">
                <div class="custom_container">
    <form  #queryForm="ngForm" (ngSubmit)="onSubmit(queryForm)"
    class="align-form-right">
            <div class="form-group ">
                <label style="color: whitesmoke; border-bottom: 2px solid #8195f7;">
                  We love to hear from you !</label>
                <br>
              <label style="color: whitesmoke;">Contact Us</label>
              <input type="text" class="form-control" required 
              placeholder="Your Name"
               [(ngModel)]="customerinfo.name"  name="name">
               <!-- <small class="form-text text-muted">We are here to help you.</small> -->
            </div>
            <div class="form-group">
                <label style="color: whitesmoke;">Phone Number</label>
                <input type="number" class="form-control" required 
                placeholder="Add your working number"
                 [(ngModel)]="customerinfo.phone_no" name="phone_no">
              </div>
            <div class="form-group">
              <label style="color: whitesmoke;">Your Query</label>
              <input type="text" class="form-control" 
               placeholder="Feel free to ask anything..."
                [(ngModel)]="customerinfo.query"  name="query">
            </div>
            <button type="submit" class="btn btn-full">Send Message</button>
                    </form>
                    <!-- {{queryForm.value | json}} -->
              </div>
        </div>
        </div>
 </header>