<footer>
   <div class="row">
     <div class="col-sm-6 ">
        <h3 class="text-center">About Us</h3>
       <div class="fontclass" style="padding-left:20px">
              <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.Lorem ipsum </p>
         <p>Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit.Lorem ipsum Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit.Lorem ipsum Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit.Lorem ipsum Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit.Lorem ipsum      
         </p>
        </div>
          
     </div>
     <div class="col-sm-6">
       <div class="col-sm-6">
        <h3 class="text-center">Visit us</h3>
        <div>
            <ul>
              <li>
                <p class="fontclass">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.Lorem ipsum </p>
              </li>
              <li class="fontclass" >
                  <i class="icon ion-ios-call" style="font-size:25px;margin-right: 5px;"></i>
                  +91-987654321  
             </li> 
             <li></li>
                     <li class="fontclass">
                        <i class="icon ion-ios-mail" style="font-size:25px; margin-right: 5px;"></i>
                       test@test.gmail.com
                     </li>
            
            </ul>
          </div>
       </div>
       <div class="col-sm-6">
          <h3 class="text-center"> Available Spaces</h3>
          <div>
            <ul class="fontclass">
              <li> Appartments <span>(17)</span> </li> 
              <li> Home <span>(41)</span> </li>
              <li> Land<span>(56)</span> </li>
              <li> Shop<span>(25)</span> </li>
              <li> Office<span>(15)</span> </li>
            </ul>
          </div>
          </div>
     </div>
    </div>
     <hr>
     <div class="row">
        <h4 class="text-center">
 Copyright &copy; 2019 by Lorem ipsum &#8739; All rights reserved</h4>
      </div>
      
 </footer>
