footer {
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-attachment: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 10px;
      }

      li{
          list-style: none;
          font-family: Calibri !important;
           }

      h3:after {
        display: block;
        height: 3px;
        background-color: white;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: 10px;
        }

        .fontclass{
            font-size: 90%;
            font-family: Calibri !important;
            max-width: 120%;
        }

ul li span{
font-size: 80%;

}