<footer>
   <div class="row ">
     <div class="col-sm-7">
       <p>fgfhgfhvhhgjhgjgjg</p>
     </div>
     <div class="col-sm-5">
       <div class="col-sm-6">
        <h3 class="text-center">Visit us</h3>
        <div>
            <ul>
              <li>
                <p class="fontclass">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. </p>
              </li>
              <li>
                  <i class="icon ion-ios-call" style="font-size:25px;"></i>  
             <p class="text-center fontclass" style="max-width:280px;">+91 987654321
             </p></li> 
                     <li>
                        <i class="icon ion-ios-mail"></i>
                       <p class="fontclass">test@test.gmail.com</p>
                     </li>
            
            </ul>
          </div>
       </div>
       <div class="col-sm-6">
          <h3 class="text-center"> Available Spaces</h3>
          <div>
            <ul>
        <div class="line">   <li><p> Appartments</p> 
                <p style="font: size 14px; font: weight 100;">(17)</p> </li> </div> 
              <li> Home(41) </li>
              <li> Land(56) </li>
              <li> Shop(25) </li>
              <li> Office(15) </li>
            </ul>
          </div>
          </div>
     </div>
     </div>
      <hr>
    <div class="row">
       <h4 class="text-center">
<!-- Copyright &copy; 2019 by Lorem ipsum &shortmid; All rights reserved -->
       </h4>
     </div>

        </footer>
