<section>
        <div class="row">
            <h2 class="text-center" style="font-weight: 300; text-transform: uppercase">Our Image gallery</h2>
<div class="row">
<ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="../../../assets/gallery/dummyImage.jpg" >
                <div class="centered">
                  <h3 style="color:white"> ipsum dolor sit amet</h3>
           </div>
              </figure>
          </li>
           <li>
              <figure class="meal-photo">
                  <img src="../../../assets/gallery/1.jpg" >
                  <div class="centered">
                      <h3 style="color:white"> ipsum dolor sit amet</h3>
               </div>
              </figure>
             </li>
             <li>
                <figure class="meal-photo  ">
                    <img src="../../../assets/gallery/dummyImage2.jpg" >
                    <div class="centered">
                        <h3 style="color:white"> ipsum dolor sit amet</h3>
                 </div>
                </figure>
               </li>
               <li>
                  <figure class="meal-photo ">
                      <img src="../../../assets/gallery/1.jpg" >
                      <div class="centered">
                          <h3 style="color:white"> ipsum dolor sit amet</h3>
                   </div>
                  </figure>
                 </li>
                 <li>
                    <figure class="meal-photo">
                        <img src="../../../assets/gallery/dummyImage.jpg" >
                        <div class="centered">
                            <h3 style="color:white"> ipsum dolor sit amet</h3>
                     </div>
                    </figure>
                   </li>
                   <li>
                      <figure class="meal-photo">
                          <img src="../../../assets/gallery/dummyImage.jpg" >
                          <div class="centered">
                              <h3 style="color:white"> ipsum dolor sit amet</h3>
                       </div>
                      </figure>
                     </li>
                     <li>
                        <figure class="meal-photo">
                            <img src="../../../assets/gallery/1.jpg">
                            <div class="centered">
                                <h3 style="color:white"> ipsum dolor sit amet</h3>
                         </div>
                        </figure>
                       </li>
                       <li>
                          <figure class="meal-photo">
                              <img src="../../../assets/gallery/dummyImage2.jpg" >
                              <div class="centered">
                                  <h3 style="color:white"> ipsum dolor sit amet</h3>
                           </div>
                          </figure>
                         </li>
                         <li>
                            <figure class="meal-photo">
                                <img src="../../../assets/gallery/dummyImage2.jpg">
                                <div class="centered">
                                    <h3 style="color:white"> ipsum dolor sit amet</h3>
                             </div>
                            </figure>
                           </li>
                           <li>
                            <figure class="meal-photo">
                                <img src="../../../assets/gallery/1.jpg" >
                                <div class="centered">
                                    <h3 style="color:white"> ipsum dolor sit amet</h3>
                             </div>
                            </figure>
                           </li>
                           <li>
                            <figure class="meal-photo">
                                <img src="../../../assets/gallery/dummyImage.jpg" >
                                <div class="centered">
                                    <h3 style="color:white"> ipsum dolor sit amet</h3>
                             </div>
                            </figure>
                           </li>
                           <li>
                            <figure class="meal-photo">
                                <img src="../../../assets/gallery/dummyImage2.jpg" >
                                <div class="centered">
                                    <h3 style="color:white"> ipsum dolor sit amet</h3>
                             </div>
                            </figure>
                           </li>
       </ul>
</div>
</div>
</section>
