<div class="row background-image">
  <div class="box">
  <div class="col-sm-3 ">
      <i class="icon ion-ios-home icon-big"></i>
    <h1 class="text-center styling" >Houses</h1>
    <h2 class="text-center stylings" >567</h2>
  </div>
  <div class="col-sm-3">
      <i class="icon ion-ios-business icon-big"></i>
    <h1 class="text-center styling">Commercials</h1>
    <h2 class="text-center stylings">1256</h2>
  </div>
  <div class="col-sm-3">
      <i class="icon ion-ios-stats icon-big"></i>
    <h1 class="text-center styling" >Appartments</h1>
    <h2 class="text-center stylings" >89</h2>
  </div>
  <div class="col-sm-3">
      <i class="icon ion-ios-analytics icon-big"></i>
    <h2 class="text-center styling" >Land</h2>
    <p class="text-center stylings" >68</p>
  </div>
</div>
  </div>
