h2:after {
    display: block;
    height: 3px;
    background-color: #9dabee;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    }

section {
    padding: 30px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
