<section class="clearfix ">
    <div>
<h2 class="text-center"  style="text-transform: uppercase;">Here's what our customers saying about us! </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <i class="icon ion-ios-quote icon-big"></i>
         <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.ipsum primis in faucibus orci luctus et ultricesposuere cubilia 
      Curae; Nullam feugiat finibus enim, cursus ornare felis congue sit amet. 
    </p> 
   <p style="font-weight: 600;"> <span>—</span> Rakesh ABCD<span class="small"> Resedential property</span></p>
  
</div>
<div class="col-sm-6 col-md-4">
  <i class="icon ion-ios-quote icon-big"></i>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.ipsum primis in faucibus orci luctus et ultricesposuere cubilia 
Curae; Nullam feugiat finibus enim, cursus ornare felis congue sit amet. 
</p>
<p style="font-weight: 600;"> <span>—</span> Rakesh ABCD<span class="small"> Resedential property</span></p>
</div>
<div class="col-sm-6 col-md-4">
  <i class="icon ion-ios-quote icon-big"></i>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.ipsum primis in faucibus orci luctus et ultricesposuere cubilia 
Curae; Nullam feugiat finibus enim, cursus ornare felis congue sit amet. 
</p>
<p style="font-weight: 600;"> <span>—</span> Rakesh ABCD<span class="small"> Resedential property</span></p>
</div>
</div>
 </section>
  

