<section>
    <div class="row">
        <h2 class="text-center" style="font-weight: 300">Why us?</h2>
        <p class="long-copy text-center container">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer est orci, sollicitudin sed
             auctor sed, ultricies at nulla. Duis convallis lacinia libero sit amet iaculis. Vestibulum ante 
             ipsum primis in faucibus orci luctus et ultricesposuere cubilia 
             Curae; Nullam feugiat finibus enim, cursus ornare felis congue sit amet. 
        </p>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
                <i class="icon ion-md-happy  icon-big"></i>
              <h3 class="h3 text-center" style="font-weight: 600; font-size: 22px;">Friendly Customer service </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.ipsum primis in faucibus orci luctus et ultricesposuere cubilia 
              Curae; Nullam feugiat finibus enim, cursus ornare felis congue sit amet. 
            </p>
        </div>
        <div class=" col-sm-6 col-md-3">
                <i class="icon ion-md-alarm icon-big"></i>
            <h3 class="h3 text-center" style="font-weight: 600; font-size: 22px;">We Save your time. </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum primis in faucibus orci luctus et ultricesposuere cubilia 
              Curae; Nullam feugiat finibus enim, cursus ornare felis congue sit amet. 
            </p>
        </div>
        <div class=" col-sm-6 col-md-3">
                <i class="icon ion-md-hand icon-big"></i>
            <h3 class="h3 text-center" style="font-weight: 600; font-size: 22px;">100% Client Satisfaction. </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum primis in faucibus orci luctus et ultricesposuere cubilia 
              Curae; Nullam feugiat finibus enim, cursus ornare felis congue sit amet. 
            </p>
        </div>
        <div class=" col-sm-6 col-md-3">
                <i class="icon ion-md-heart icon-big"></i>
            <h3 class="h3 text-center" style="font-weight: 600; font-size: 22px;">Great Deals at great Prices. </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum primis in faucibus orci luctus et ultricesposuere cubilia 
              Curae; Nullam feugiat finibus enim, cursus ornare felis congue sit amet. 
            </p>
        </div>
         </div>  
      </div>  
</section>
