    <section>
       <div>
<h2 class="text-center"  style="text-transform: uppercase;">Our partners </h2>
       </div>
       <div style="padding:20px;">
       <div class="row">
         <div class="col-xs-6 col-sm-2">
            <img style="height: 160px; width: 160px;padding: 0 10px"  src="../../../assets/partners/dummy-logo.png">    
         </div>
         <div class=" col-xs-6 col-sm-2">
            <img style="height: 160px; width: 160px;padding: 0 10px"  src="../../../assets/partners/dummy-logo2.png">    
         </div>
         <div class="col-xs-6 col-sm-2">
            <img style="height: 160px; width: 160px;padding: 0 10px" src="../../../assets/partners/dummy-logo.png">    
         </div>
         <div class=" col-xs-6 col-sm-2">
            <img style="height: 160px; width: 160px;padding: 0 10px"  src="../../../assets/partners/dummy-logo2.png">    
         </div>
         <div class=" col-xs-6 col-sm-2">
            <img style="height: 160px; width: 160px ; padding: 0 10px"  src="../../../assets/partners/dummy-logo.png">    
         </div>
         <div class=" col-xs-6 col-sm-2">
            <img style="height: 160px; width: 160px; padding: 0 10px"  src="../../../assets/partners/dummy-logo2.png">    
         </div>
    </div> 
  </div>
    </section>
     

